.size {
    width: 800px;
    height: 500px;
    background-color: dimgrey;
}
.dflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
}
.green {
    background-color: #00800000;
    position: relative;
    transform-style: preserve-3d;
}
.blue {
    background-color: blue;
    position: absolute;
}

.yellow {
    background-color: yellow;
    position: absolute;
}
.textblue {
    font-size: 30px;
    text-align: center;
    background: blue;

}
.textyellow {
    font-size: 30px;
    text-align: center;
    background: yellow;
    transform: rotateX(180deg);
}
.ani1 {

    animation-name: ani1;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: inherit;
}
.ani2 {

    animation-name: ani2;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: inherit;
}
.ani3 {

    animation-name: ani3;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: inherit;
}

.sq {

    width: 100px;
    height: 100px;
}

@keyframes ani1 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(44564deg);
    }
}
@keyframes ani2 {
    from {
        transform: rotateZ(0deg) translateZ(30px);
    }

    to {
        transform: rotateZ(44564deg) translateZ(-30px);
    }
}
@keyframes ani3 {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-44564deg);
    }
}